* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;

}

html,
body {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;

}

header {
  height: 200px;
  padding: 20px 0;
}

.logo {
  width: 1000px;
  text-align: left;
}

.logo img{
  width: 100px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #0baca7;

}

.logo p{
  margin-left: 33px;
  color: black;
  text-align: start;
  font-weight: bold;
  margin-right: 120px;
  
}
.menu {
  margin-top: 50px;
  margin-left: 150px;
  width: 100%;
  text-align: right;

}

.menu,
a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-right: 120px;

}s

section.sobre {
  position: relative;
  height: calc(100% - 200px);
}

.extras {
  position: absolute;
  bottom: -450;
  right: -500px;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background-color: #0baca7;
  opacity: 0.8;
}
.extras img{
  opacity: 0.7;
}

@media (min-width: 768px) {
  .extras {
    display: block;
  }
}

@media (max-width: 768px) {
  .extras {
    display: none;
  }
}
