body {
    color: #333;
}

/* Adicionando círculos brancos nas laterais superiores */
body::before,
body::after {
    content: '';
    /* position: absolute; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    top: -50px;
    /* Posicionamento na parte superior */
}

body::before {
    left: -50px;
    /* Posicionamento no lado esquerdo */
}

body::after {
    right: -50px;
    /* Posicionamento no lado direito */
}

 section.sobre {
    position: relative;
    height: calc(100% - 200px);
}

#map {
    height: 300px;
    width: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.gallery img {
    width: 30%;
    margin-bottom: 20px;
}

/* .description, */
.address {
      display: flex;
     flex-direction: row;
    align-items: flex-start;

}

.description{
    margin-bottom: 30px;
}

.description h2, .address h2 {
    color: #246863;
    /* Nova cor para o título */
    font-family: 'More Sugar', cursive;
    /* Adicionando a fonte para os títulos */
}

.description p{
    color: #035353; 
    font-size: 18px; 
    text-align: justify; 
    margin: 0;
}